header {
    width: 100%;
    min-height: 90px;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 20px;
    background-color: #818181;

    @media (max-width: 768px) {
        flex-wrap: wrap;
    }

    @media (max-width: 640px) {
        padding: 10px 20px;
        gap: 5px;
    }

    @media (max-width: 335px) {
        padding: 10px 10px;
    }
}

header > p {
    font-size: 2rem;
    order: 1;

    @media (max-width: 640px) {
        font-size: 1.2rem;
    }
}

